<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<div class="main">
  <div class="container">
    <h1>Hello, my name is Amalia. Welcome to my Rails Blog </h1>
    <p> Welcome to my practice blog. I am currently a RGSoC scholar working on the project <a href="https://exercism.io/" target="_blank"> exercism.io</a>
        I created this blog in order to practice using the Rails framework. I find that one of the best ways to learn is to teach people. I will be documenting
        the steps that I took to create this blog as a way to put order to what I learn, but also in case it serves as a resource for others.
    </p>
    <p>
      To find out more about the RGSoC project, click on our <a href="../about/about">about page</a>.
    </p>

    <p>
      To read the amazing blog entries that I have created click <a href="../articles/new">the blog page</a>.
    </p>
  </div>
</div>
